<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/weather.css">
    <link rel="shortcut icon" href="assets/img/Logo.png" type="image/x-icon">
    <title>homework 19</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo_and_name">
                <img src="assets/img/Logo.png" alt="logo">
                <p>Simo</p>
            </div>
            <ul class="navigation_menu">
                <li class="navigation_menu_item">
                    <a href="#" class="navigation_menu_link">Notes</a>
                </li>
                <li class="navigation_menu_item">
                    <a href="#" class="navigation_menu_link">Discover</a>
                </li>
                <li class="navigation_menu_item">
                    <a href="#" class="navigation_menu_link">Join</a>
                </li>
                <li class="navigation_menu_item">
                    <a href="#" class="navigation_menu_link">Sign In</a>
                </li>
            </ul>
        </div> 
    </header>
    <main>
        <div class="container">
            <div class="weather_block">
                <h1 class="weather_explanation">Enter a city to find out the weather in it</h1>
                <h2 class="weather_in_your_city">Here you can see weather for you city</h2>
                <input type="text" name="" id="">
            </div>
            <img src="assets/img/Background image.png" alt="">
        </div>
    </main>
    <footer>
        <div class="container">
            <ul class="footer_menu">
                <li class="footer_menu_item">
                    <a href="#" class="footer_menu_link">About As</a>
                </li>
                <li class="footer_menu_item">
                    <a href="#" class="footer_menu_link">Contact</a>
                </li>
                <li class="footer_menu_item">
                    <a href="#" class="footer_menu_link">CR Info</a>
                </li>
                <li class="footer_menu_item">
                    <a href="#" class="footer_menu_link">Twitter</a>
                </li>
                <li class="footer_menu_item">
                    <a href="#" class="footer_menu_link">Facebook</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>